@model Fox.Model.ViewModel.Student.IndexVM
@{
    ViewBag.Title = "學生表單";
}

<h2>學生表單</h2>
@using (Html.BeginForm("Index", "Student", FormMethod.Post, new { id = "QueryForm", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" id="InsertBtn" class="btn btn-primary">新增</button>
    </div>

    <div class="form-group" style="margin-top: 10px">
        <label for="studentName">姓名</label>
        @Html.TextBoxFor(m => m.studentName, new { Class = "form-control", placeholder = "請輸入姓名", maxlength = "5" })
        @Html.ValidationMessageFor(m => m.studentName)
    </div>
    <div class="form-group">
        <label for="studentId">身份證</label>
        @Html.TextBoxFor(m => m.studentId, new { Class = "form-control", placeholder = "請輸入身份證", maxlength = "10" })
        @Html.ValidationMessageFor(m => m.studentId)
    </div>
    <button type="submit" id="SelectBtn" class="btn btn-primary">查詢</button>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">姓名</th>
                <th scope="col">身份證</th>
                <th scope="col">姓別</th>
                <th scope="col">生日</th>
                <th scope="col">功能</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.lstStudentInfo.Count; i++)
            {
                var item = Model.lstStudentInfo[i];
                <tr>
                    <th scope="row">@i</th>
                    <td>@item.studentName</td>
                    <td>@item.studentId</td>
                    <td>@item.studentSexDesc</td>
                    <td>@item.studentBirthDesc</td>
                    <td>
                        @Html.ActionLink("修改資料", "Edit", new { k = item.id }, new { Class = "btn btn-link" })
                        @Html.ActionLink("刪除資料", "Delete", new { k = item.id }, new { Class = "btn btn-link" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts_Head {
    <script src="~/Scripts/jquery-migrate-3.0.0.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $("#InsertBtn").click(function () {
                window.location.href = "@Url.Action("Insert","Student")";
            });
        });
    </script>
}

@section Scripts_Footer {

}

